
<div class="clearfix">
            <%if user_signed_in? && current_user.level>2 %>
            <a class="btn btn-success pull-left" href=<%=new_event_url%>> Добавить материалы на главную </a>
            <%end%>
          </div>


          