
<div class="container">    
    <div class="row">
        <div class="col-sm">
    </div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive">
<div class="alert alert-primary" role="alert">    
  <a href=<%=new_album_url%>><p2> Создать новый альбом</p2>
</div>
</div>
</div>
</div>


<div class="container">

    <div class="row">

        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" />|<strong>Встреча</strong>|10.10.2018|автор фото|<br/><br/><br/></div>






        </div>
  

</div>