<!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-12 mx-auto">
            <p><%=@post.content%></p>
          </div>
        </div>
      </div>
    </article>


<div class="container">
    <div class="row">
        
        
        <div class="hidden-xs col-sm-6 col-md-5" align="center">
            Col3
        </div>
        
        <div class="visible-xs col-md-3 " align="center">
            Col5
        </div>
        
        
    </div>
</div>